* {
   font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ECECEC;
  margin: 0;

}

.header {
  background-color: #262626;
  margin-top: 0;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
	margin: 0;
	color: #ECECEC;
	font-size: 16px;
	font-weight: 400;
}


.title {
	background-color: #e74c3c;
	color: #ECECEC;
	margin-left: 60px;
	font-size: 28px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	padding-top: 40px;
	padding-bottom: 150px;
}

.box {
	margin-top: 90px;
}

.description {
	background-color: #2c3e50;
	color: #ECECEC;
	margin-right: 30px;
	text-align: center;
	font-size: 28px;
	font-variant: small-caps;
	padding-top: 50px;
}

.subtitle {
	margin-bottom: 0;
	margin-top: 5px;
}

input {
	border: 0;
	background-color: #BE90D4 ;
	height: 30px;
	width: 300px;
}

input[value] {
	padding-left: 10px;
	color: #DADFE1;
}

.caption {
	color: #ECECEC;
	text-align: center;
	font-size: 20px;
	font-variant: small-caps;
	margin-bottom: 0;
}

#output {
	color: #ECECEC;
	font-weight: 800;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 10px;
}


.row {
	width: 100%;
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;

}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;

}

.col-8 {
	width: 66.66%;

}

.col-9 {
	width: 75%;
}

.col-10 {
	 width: 83.33%;

}

.col-11 {
	width: 91.66%;

}

.col-12 {
	width: 100%;
}